*.swp
*.pyc
*.bak
cover/
.coverage
tags
*.h3?
.DS_Store
.idea/
/antismash/generic_modules/fullhmmer/Pfam-A.hmm
test_datasets/
__pycache__/
plantgeneclusters.txt
plantgeneclusterprots.fasta
plantgeneclusterprots.dmnd
*.vscode